body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px;
}


.circle-3d {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkblue 60%, aqua 100%);
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}